@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lato:wght@300;400;700&display=swap");

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  /* box-sizing: border-box; */
  top: 100px;
  bottom: 100px;
  margin: 20px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Josefin Sans";
}

.h1 {
  font-size: 3.25rem;
  font-weight: 900;
}

.image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5rem;
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.subheadline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  color: #434343;
  cursor: pointer;
}

.arrowContainer {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow {
  display: flex;
  width: 14.4px;
  height: 8.2px;
}

.line {
  border: none;
  background: #cbcbcb;
  height: 1px;
  width: 290px;
}
.text {
  font-size: 0.8rem;
  margin-top: 16px;
}

.subscription {
  margin-top: 40px;
}

.subText {
  text-align: center;
  font-size: 16px;
}

.subButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subButton {
  background-color: #befa9e;
  color: #000000;
  border-radius: 30px;
  width: 209px;
  height: 51px;
  font-weight: bold;
  border-style: none;
}
