.nav {

    background-color: #441263;

    width: 390px;
    height: 65px;








}

.homeIcon1 {


    color: #ffffff;
}

.searchIcon1 {


    color: #ffffff;
}

.globeIcon1 {


    color: #ffffff;
}

.faqIcon1 {


    color: #ffffff;
}


.searchIcon svg {}

.Link {}