.nav {

    background-color: #441263;
    /* background-color: #ffffff; */

    height: 4rem;
    bottom: 0;
    width: 100%;
    right: 0px;




}

.homeIcon1 {


    color: #ffffff;
    /* color: black; */

}

.searchIcon1 {

    color: #ffffff;
    /* color: black; */

}

.globeIcon1 {


    color: #ffffff;
    /* color: black; */

}

.faqIcon1 {

    color: #ffffff;
    /* color: black; */

}


.searchIcon svg {}

.Link {}