.searchbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  /* border: 1px solid red; */
  /* padding: 0; */

}

.input {
  width: 360px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  text-align: center;
  /* padding: 0; */
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /* background-color: black; */
  /* border: 1px solid red; */
  margin: 15px;
  /* padding: 0; */

  /* border: 1px solid red; */


}

.productCard {
  display: flex;
  align-items: center;
  width: 360px;
  height: 120px;
  margin: 10px;
  background-color: #ffff;
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 0 0 5px black; */
  /* padding: 0; */
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  width: 90px;
  height: 90px;
  margin: 10px;
  /* padding: 0; */
}

.productImage {
  width: 90px;
  height: 90px;
  object-fit: scale-down;
  border-radius: 5px;
  /* padding: 0; */
}

.productInfoContainer {
  width: 190px;
  height: 90px;
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  /* grid-template-rows: auto; */
  /* grid-gap: 10px; */
  /* align-items: center; */
  /* font-size: 1px; */
  /* border: solid red; */
  border: 1px solid black;
}

.textContainer {
  /* flex: 1; */
  display: flex;


  /* align-items: left; */
  justify-content: space-between;
  border: 1px solid blue;
  padding: 0;
}

.nameContainer {
  border: 1px solid green;
  /* padding: 0; */

  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */

}

.nameContainer {
  /* border: 1px solid green; */


}

.productName {
  font-size: 12px;
  font-weight: 400;
  margin: 0;

  /* padding: 0; */


}

.productEcoScore {
  font-size: 14px;
  margin-top: 5px;
  /* padding: 0; */
}

.ecoScoreContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: right;
  flex: 0;
  border: 1px solid orange;
  /* padding: 0; */
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  border: 1px solid red;
  /* padding: 0; */
}

.ecoScoreImageLabel {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-right: 0.5rem;
  /* padding: 0; */
}

.ecoscoreImage {
  height: 0.5rem;
  margin-right: 0.5rem;
  /* padding: 0; */
}

.productInfoContainer2 {
  /* flex: 1; */
  display: flex;

  /* align-items: left; */
  /* justify-content: space-between; */
  justify-content: flex-end;

  /* border: 1px solid blue; */
  /* padding-right: 3px; */
  border: 1px solid red;
}

.labelContainer {
  /* margin-top: 0.5rem; */
  justify-content: flex-start;
  border: 1px solid green;
  padding: 0;
}

.ecoScoreLabel {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  /* flex: 1; */
  display: flex;
  /* align-items: start; */

  /* align-items: end; */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* position: absolute; */
  /* bottom: 0; */

  /* border: 1px solid blue; */
  /* padding-right: 3px; */
  /* position: absolute; */
  /* margin-bottom: 10px; */
  /* display: flex; */
  /* align-items: center; */
  /* padding: 0; */
  /* display: flex; */
  align-items: normal;
  /* justify-content: center; */
  /* margin-top: auto; */
  border: 1px solid red;
}

.button {
  width: 200px;
  height: 35px;
  background-color: #befa9e;
  border-radius: 5px;
  border: none;
  /* padding: 0; */
}


.navdiv {
  position: fixed;
  bottom: 0;
  width: 100%;

  right: 0px;
}