.Link {

    color: #ffffff;


}


.Image {


    position: absolute;
    width: 245.15px;
    height: 245.15px;
    left: 63.43px;
    top: 163.57px;
}


.Image1 {

    margin-top: 20px;
    position: absolute;
    width: 342px;
    height: 90.14px;
    left: 20px;
    top: 500.3px;
}

.navdiv {


    margin-top: 740px;
}