@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lato:wght@300;400;700&display=swap");

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  width: 450.81px;
  height: 100.42px;
  left: 136.59px;
  margin-top: 20.48px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 24px;
  top: 50px;
  margin: 20px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
  font-family: "Josefin Sans";
  color: #fff;
  text-align: center;
  margin: 20px;
}

.inputComponentsText {
  margin-left: 20px;
}

.inputComponents {
  width: 315px;
  height: 45px;
  border-radius: 50px;
  text-align: center;
  border-style: none;
  margin: 10px;
}

.checkboxContainer {
  margin: 20px;
  /* border: solid red; */
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* hann aldrig klar med style för denna sida, men funktion finns! */
